$default: #8d96bd;
$title-color: #3d4f9f;
$hover: #5e81fe;
$accent: #ffca42;

%quicksand-500 {
   font-family: 'Quicksand-Medium', sans-serif;
   font-weight: 500;
}

%quicksand-700 {
   font-family: 'Quicksand-Bold', sans-serif;
   font-weight: 700;
}

%roboto-400 {
   font-family: 'Roboto-Regular', sans-serif;
   font-weight: 400;
}

%roboto-500 {
   font-family: 'Roboto-Medium', sans-serif;
   font-weight: 500;
}

%quicksand-400 {
   font-family: 'Quicksand-Regular', sans-serif;
   font-weight: 400;
}

%openSans-600 {
   font-family: 'Cardo-Regular', sans-serif;
   font-weight: 600;
}

%openSans-700 {
   font-family: 'OpenSans-Bold', sans-serif;
   font-weight: 700;
}

%quicksand-300 {
   font-family: 'Quicksand-Light', sans-serif;
   font-weight: 400;
}

%subtitle {
   color: $title-color;
   text-align: center;
   font-size: 0.625rem;
   letter-spacing: 0.0625rem;
   text-transform: uppercase;
   @extend %roboto-500;
   margin-bottom: 20px;
}
