$default: #8d96bd;
$text-color: #8d96bd;
$hover: #4d7ecc;
$accent: #ffca42;
$svg: #b6bac7;

%btn {
   @extend %quicksand-700;
   font-size: 0.8125rem;
   color: #fff;
   background-color: #d2e1ff;
   border: none;
   height: 2.6875rem;
   cursor: pointer;
   transition: all 0.2s;
   &:hover {
      color: $accent;
      background-color: $hover;
   }
}

%quicksand-500 {
   font-family: 'Quicksand-Medium', sans-serif;
   font-weight: 500;
}

%quicksand-700 {
   font-family: 'Quicksand-Bold', sans-serif;
   font-weight: 700;
}

%roboto-400 {
   font-family: 'Roboto-Regular', sans-serif;
   font-weight: 400;
}

%roboto-500 {
   font-family: 'Roboto-Medium', sans-serif;
   font-weight: 500;
}

%quicksand-400 {
   font-family: 'Quicksand-Regular', sans-serif;
   font-weight: 400;
}

%openSans-600 {
   font-family: 'Cardo-Regular', sans-serif;
   font-weight: 600;
}

%openSans-700 {
   font-family: 'OpenSans-Bold', sans-serif;
   font-weight: 700;
}

%quicksand-300 {
   font-family: 'Quicksand-Light', sans-serif;
   font-weight: 400;
}
