@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
   max-height: 80px;
}
.navigation {
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 19px 117px;
   }
   &__left {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0 73px;
   }
   &__right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 44px;
   }
   &__socials {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 37px;
   }
   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__svg {
      width: 17px;
      height: 17px;
      display: block;
      padding: 0;
      fill: #b7bac6;
      transition: all 0.2s;
      &:hover {
         fill: #5e81fe;
      }
   }
   &__btn {
      width: 113px;
      height: 43px;
      background-color: #d6e1fd;
      color: #3a79ff;
      font-size: 0.8125rem;
      @extend %quicksand-700;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
         background-color: $hover;
         color: #d6e1fd;
      }
   }
}
.menu {
   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 42px;
   }
   &__item {
   }
   &__link {
      color: #697ca6;
      font-size: 0.75rem;
      letter-spacing: 1px;
      transition: all 0.2s;
      &:hover {
         color: $hover;
      }
   }
}

.top {
   &__wrapper {
      background-color: #f3f6fe;
      position: relative;
      z-index: 10;
      &::before {
         content: '';
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-image: url(../images/top-clouds.avif);
         background-repeat: no-repeat;
         z-index: -10;
      }
      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         right: 0;
         width: 100%;
         height: 100%;
         background-image: url(../images/top-decor.avif);
         background-position: bottom right;
         z-index: -20;
         background-repeat: no-repeat;
      }
   }
   &__slider {
      padding-top: 92px;
      padding-bottom: 212px;
   }
   &__slider-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   &__slider-subtitle {
      color: $title-color;
      font-size: 0.625rem;
      @extend %roboto-500;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 16px;
   }
   &__slider-title {
      color: $title-color;
      font-size: 3rem;
      @extend %quicksand-300;
      margin-bottom: 28px;
      span {
         @extend %quicksand-400;
      }
   }
   &__slider-text {
      color: $default;
      font-size: 0.9375rem;
      @extend %roboto-400;
      line-height: 1.8125rem;
      text-align: center;
      margin-bottom: 20px;
      max-width: 450px;
   }
   &__slider-video-link {
      z-index: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background-color: #fff;
      transition: all 0.2s;
      &:hover {
         background-color: $hover;
         .top__slider-svg {
            fill: #fff;
         }
      }
   }
   &__slider-svg {
      width: 11px;
      height: 11px;
      fill: #5e81fe;
   }
   .slick-dots {
      position: relative;
      bottom: -11.375rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 12px;
      button {
         font-size: 0;
         background-color: #d2d6e1;
         border-radius: 50%;
         padding: 0;
         width: 8px;
         height: 8px;
      }
      li.slick-active {
         button {
            background-color: #6185f8;
         }
      }
   }
}

//

.partners {
   &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 77px;
      padding: 58px 0;
   }
   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
         .partners__svg {
            fill: #6583e1;
         }
      }
   }
   &__svg {
      width: 117px;
      height: 27px;
      fill: #d7dae4;
      transition: all 0.2s;
   }
}
.plan {
   &__wrapper {
      background-color: #f6f8fe;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 55px;
      padding: 170px 45px 170px 270px;
   }
   &__content {
      max-width: 415px;
   }
   &__subtitle {
      @extend %subtitle;
      margin-bottom: 27px;
   }
   &__title {
      color: $title-color;
      font-size: 2.25rem;
      margin-bottom: 27px;
   }
   &__text {
      color: $default;
      text-shadow: $default 1px 5px 10px;
      font-size: 0.9375rem;
      @extend %roboto-400;
      line-height: 1.8125rem;
      margin-bottom: 50px;
   }
   &__links {
      font-size: 0.8125rem;
      display: flex;
      justify-content: start;
      align-items: center;
      a {
         width: 130px;
         height: 43px;
         padding: 13px 21px;
      }
   }
   &__link-video {
      background-color: #5e86f8;
      color: #fff;
      box-shadow: 0 5px 15px 0 rgba(188, 199, 255, 0.75);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 7px;
      @extend %quicksand-700;
      transition: all 0.2s;
      &:hover {
         background-color: #fff;
         color: #5e86f8;
         .plan__svg {
            fill: #5e86f8;
         }
      }
   }
   &__svg {
      width: 7px;
      height: 7px;
      fill: #fff;
      transition: all 0.2s;
   }
   &__link-features {
      @extend %quicksand-500;
      color: #adb4d2;
      border: 1px solid #adb4d2;
      transition: all 0.2s;
      &:hover {
         background-color: #5e86f8;
         color: #fff;
      }
   }
}
.about-us {
   &__wrapper {
      position: relative;
      padding: 140px 120px 200px;
   }
   &__inner {
      background-image: url(../images/about-us-bg.webp);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 30px 220px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   &__subtitle {
      @extend %subtitle;
   }
   &__title {
      color: $title-color;
      font-size: 1.5rem;
      @extend %quicksand-500;
      margin-bottom: 92px;
   }
   &__items {
      margin-bottom: 92px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 67px;
   }
   &__item {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      text-align: center;
      max-width: 140px;
      min-height: 250px;
   }
   &__img-box {
      margin-bottom: 33px;
   }
   &__img {
      display: block;
      margin: 0 auto;
   }
   &__item-title {
      color: #4074f8;
      font-size: 0.875rem;
      @extend %openSans-700;
      line-height: 1.5625rem;
      margin-bottom: 25px;
   }
   &__text {
      color: #adb3cb;
      font-size: 0.6875rem;
      @extend %openSans-600;
      line-height: 1.1875rem;
   }
   &__links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px 0;
      max-width: 337px;
      margin: 0 auto;
      a {
         width: 113px;
         height: 43px;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 0.8125rem;
         @extend %quicksand-700;
         transition: all 0.2s;
      }
   }
   &__link-left {
      color: #d43f3f;
      background-color: #f2d6d4;
      &:hover {
         background-color: #d43f3f;
         color: #f2d6d4;
      }
   }
   &__span {
      padding: 0 32px;
      position: relative;
      &::before,
      &::after {
         content: '';
         position: absolute;
         width: 15px;
         height: 1px;
         top: 45%;
         background-color: #dce4fc;
      }
      &::before {
         left: 0;
      }
      &::after {
         right: 0;
      }
   }
   &__link-right {
      color: #3a79ff;
      background-color: #d6e1fd;
      &:hover {
         background-color: #3a79ff;
         color: #d6e1fd;
      }
   }
}

//

.numbers {
   &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.0625rem;
   }
   &__content-left {
      width: 100%;
      background-color: #6983f8;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      padding: 66px 90px 66px 0;
   }
   &__img-box {
      margin-bottom: 24px;
   }
   &__number-left {
      color: #fff;
      font-size: 3rem;
      @extend %quicksand-400;
      line-height: 5.1875rem;
      letter-spacing: 0.0625rem;
   }
   &__text {
      font-size: 1.125rem;
      @extend %quicksand-500;
      line-height: 1.4375rem;
   }
   &__content-right {
      width: 100%;
      background-color: #e3eafd;
      color: #6983f8;
      padding: 66px 0 66px 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
   }
   &__number-right {
      color: #6983f8;
      font-size: 3rem;
      @extend %quicksand-400;
      line-height: 5.1875rem;
      letter-spacing: 0.0625rem;
   }
}

//

.resources {
   &__wrapper {
      padding: 100px 0 200px;
      background-color: #f6f8fe;
   }
   &__subtitle {
      @extend %subtitle;
   }
   &__title {
      color: $title-color;
      font-size: 1.5rem;
      @extend %quicksand-500;
      margin-bottom: 90px;
      text-align: center;
   }
   &__inner {
      max-width: 958px;
      background-color: #fff;
      border: 1px solid #d8e3fe;
      box-shadow: 0 15px 50px 0#eff4ff;
      padding: 65px 35px;
      margin: 0 auto;
   }
   &__slider-item {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__slider-img-box {
      width: 50%;
   }
   &__slider-img {
      display: block;
      margin: 0 auto;
   }
   &__slider-content {
      max-width: 410px;
   }
   &__slider-title {
      color: $title-color;
      font-size: 2.25rem;
      @extend %quicksand-400;
      margin-bottom: 32px;
   }
   &__slider-text {
      color: $default;
      font-size: 0.875rem;
      @extend %roboto-400;
      line-height: 1.6875rem;
      margin-bottom: 31px;
   }
   &__slider-links {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0 8px;
      a {
         height: 43px;
         padding: 13px 15px;
         text-align: center;
         transition: all 0.2s;
         font-size: 0.8125rem;
         @extend %quicksand-700;
      }
   }
   &__link-btn {
      width: 113px;
      background-color: #d6e1fd;
      color: #3a79ff;
      &:hover {
         background-color: #3a79ff;
         color: #d6e1fd;
      }
   }
   &__link {
      color: #aab6d7;
      &:hover {
         background-color: #3a79ff;
         color: #d6e1fd;
      }
   }
   .slick-arrow {
      position: absolute;
      top: 45%;
      background-color: transparent;
      padding: 0;
      font-size: 0;
      width: 23px;
      height: 15px;
      z-index: 1000;
      cursor: pointer;
   }
   .slick-next {
      right: -20%;
      background-image: url(../images/arr-right.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
   .slick-prev {
      left: -20%;
      background-image: url(../images/arr-left.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
   .slick-dots {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 12px;
      bottom: -165px;
      button {
         font-size: 0;
         padding: 0;
         background-color: #d2d6e1;
         width: 8px;
         height: 8px;
         border-radius: 50%;
         cursor: pointer;
      }
   }
   .slick-active {
      button {
         background-color: #6185f8;
      }
   }
}

//

.testimonials {
   background-color: #fff;
   &__wrapper {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 0 132px;
      background-color: #ebf0fe;
      padding: 109px 276px;
      position: relative;
   }
   &__info {
      min-width: 333px;
   }
   &__subtitle {
      @extend %subtitle;
      text-align: left;
   }
   &__title {
      color: $title-color;
      font-size: 2.25rem;
      text-align: left;
      margin-bottom: 14px;
   }
   &__info-text {
      color: #a4abc8;
      font-size: 0.75rem;
      @extend %openSans-600;
      line-height: 1.4375rem;
      min-width: 325px;
   }
   &__slider {
      max-width: 910px;
      min-width: 100%;
      overflow: hidden;
      position: relative;
      &::after {
         content: '';
         position: absolute;
         width: 190px;
         height: 100%;
         background-color: #fff;
         top: 0;
         right: 0;
         bottom: 0;
      }
   }
   .next-slide {
      opacity: 0.5;
      .testimonials__slider-img {
         display: none;
      }
   }
   .slick-dots {
      position: absolute;
      bottom: 0px;
      left: 127px;
      display: flex;
      gap: 0 12px;
      button {
         border: 0;
         font-size: 0;
         padding: 0;
         width: 8px;
         height: 8px;
         background-color: #d2d6e2;
         border-radius: 50%;
         cursor: pointer;
      }
      .slick-active {
         button {
            background-color: #6185f8;
         }
      }
   }
   &__slider-inner {
      display: flex;
   }
   &__slider-item-inner {
      padding-bottom: 70px;
      max-width: 423px;
      flex-shrink: 0;
   }
   &__slider-item {
      width: 100%;
      min-height: 175px;
      height: 100%;
      padding: 41px 71px 53px 69px;
      background-color: #fff;
      border: 1px solid #d8e3fe;
      box-shadow: 0 5px 50px 0#f3f5fa;
      position: relative;
   }
   &__slider-text {
      color: #676f95;
      font-size: 0.875rem;
      @extend %roboto-400;
      line-height: 1.5rem;
      max-height: 175px;
      overflow: hidden;
   }
   &__slider-img-box {
      position: absolute;
      bottom: -31px;
      left: 43%;
   }
}

//

.faq {
   &__wrapper {
      padding: 175px 0;
   }
   &__subtitle {
      @extend %subtitle;
   }
   &__title {
      color: $title-color;
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 68px;
   }
   &__items {
      display: flex;
      flex-direction: column;
      gap: 17px 0;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
   }
   &__item {
      max-width: 743px;
      height: 60px;
      width: 100%;
      height: 100%;
      position: relative;
      &::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: #dbe3fc;
         transition: all 0.2s;
      }
   }
   &__item--active {
      &::after {
         background-color: #4b5272;
      }
   }
   &__item-title {
      color: $default;
      font-size: 0.9375rem;
      line-height: 1.1875rem;
      padding: 17px 0 15px 62px;
      position: relative;
      cursor: pointer;
      &::before,
      &::after {
         content: '';
         position: absolute;
         width: 14px;
         height: 2px;
         left: 24px;
         top: 50%;
         background-color: #9096b5;
         transition: all 0.2s;
      }

      &::before {
         transform: rotate(45deg);
      }
      &::after {
         transform: rotate(-45deg);
         left: 33px;
      }
   }
   &__item-title.faq__item-title--active {
      // background-color: #f00;
      &::before {
         transform: rotate(-45deg);
         background-color: #4b5272;
      }
      &::after {
         transform: rotate(45deg);
         background-color: #4b5272;
      }
   }
   &__content-inner {
      display: none;
   }
   &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 62px;
   }

   &__text {
      color: $default;
      @extend %roboto-400;
      font-size: 0.875rem;
      line-height: 1.6875rem;
      padding: 15px 0 53px 80px;
   }
   &__link {
      display: block;
      max-width: 195px;
      width: 100%;
      height: 43px;
      padding: 13px 15px;
      background-color: #e9ecf3;
      color: #7382a3;
      font-size: 0.8125rem;
      text-align: center;
      transition: all 0.2s;
      &:hover {
         background-color: #3a79ff;
         color: #d6e1fd;
      }
   }
}

//
//
//
//
//
.arrow-go-up {
   position: relative;
   &__svg {
      width: 32px;
      height: 14px;
      transform: rotate(-90deg);
      transition: all 0.3s;
      stroke: none;
      fill: $default;
      stroke: $accent;
   }
}
#scrollToTopBtn {
   position: fixed;
   display: none;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   bottom: 30px;
   right: 30px;
   width: 50px;
   height: 50px;
   border-radius: 7px;
   background-color: $default;
   transition: all 0.3s;
   cursor: pointer;
   &:hover {
      background-color: $hover;
      .arrow-go-up__svg {
         stroke: $accent;
         fill: transparent;
      }
   }
}
@import 'media';
