<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Productivity</title>
      <link rel="stylesheet" href="css/style.min.css" />
   </head>
   <body>
      <div class="wrapper">
         <header class="header">
            <div class="container">
               <div class="navigation__inner">
                  <div class="navigation__left">
                     <a class="logo" href="#">
                        <img
                           class="logo__img"
                           src="../images/logo.png"
                           alt="logo"
                        />
                     </a>
                     <nav class="menu">
                        <ul class="menu__list">
                           <li class="menu__item">
                              <a class="menu__link" href="#">Home</a>
                           </li>
                           <li class="menu__item">
                              <a class="menu__link" href="#">Blog</a>
                           </li>
                           <li class="menu__item">
                              <a class="menu__link" href="#">Features</a>
                           </li>
                           <li class="menu__item">
                              <a class="menu__link" href="#">Pricing</a>
                           </li>
                           <li class="menu__item">
                              <a class="menu__link" href="#">Documentation</a>
                           </li>
                        </ul>
                     </nav>
                  </div>
                  <div class="navigation__right">
                     <nav class="navigation__socials">
                        <a class="navigation__link" href="#">
                           <svg class="navigation__svg">
                              <use
                                 xlink:href="images/sprite.svg#fb"
                                 width="9"
                                 height="17"
                              ></use></svg>
                           </a>
                        <a class="navigation__link" href="#">
                           <svg class="navigation__svg">
                              <use
                                 xlink:href="images/sprite.svg#telegram"
                                 width="15"
                                 height="12"
                              ></use></svg>
                           </a>
                        <a class="navigation__link" href="#">
                           <svg class="navigation__svg">
                              <use
                                 xlink:href="images/sprite.svg#twitter"
                                 width="17"
                                 height="14"
                              ></use></svg>
                           </a>
                        <a class="navigation__link" href="#">
                           <svg class="navigation__svg">
                              <use
                                 xlink:href="images/sprite.svg#mail"
                                 width="17"
                                 height="13"
                              ></use></svg>
                           </a>
                     </nav>
                     <button class="navigation__btn" type="submit">Get started</button>
                  </div>
               </div>
            </div>
         </header>
