<main class="main">
   <section class="top">
      <div class="container">
         <div class="top__wrapper">
            <div class="top__slider">
               <div class="top__slider-inner">
                  <div class="top__slider-item">
                     <div class="top__slider-content">
                        <h6 class="top__slider-subtitle">PLAN YOUR LIFE</h6>
                        <h1 class="top__slider-title">
                           Increase your <span>productivity</span>
                        </h1>
                        <p class="top__slider-text">
                           Brute laoreet efficiendi id his, ea illum nonumes
                           luptatum pro. Usu atqui laudem an, insolens gubergren
                           similique est cu. Et vel modus congue vituperata.
                        </p>
                        <a
                           data-fancybox
                           href="https://www.youtube.com/watch?v=T4CB5RPbtCk&ab_channel=TED"
                           class="top__slider-video-link"
                        >
                           <svg class="top__slider-svg">
                              <use
                                 xlink:href="images/sprite.svg#top-video-img"
                                 width="11"
                                 height="11"
                              ></use>
                           </svg>
                        </a>
                     </div>
                  </div>
                  <div class="top__slider-item">
                     <div class="top__slider-content">
                        <h6 class="top__slider-subtitle">PLAN YOUR TIME</h6>
                        <h1 class="top__slider-title">
                           Optimize your work <span>processes.</span>
                        </h1>
                        <p class="top__slider-text">
                           Lorem ipsum dolor sit amet, consectetur adipisicing
                           elit. Dignissimos in tempore molestiae, magnam
                           repudiandae facilis fuga officia maiores blanditiis
                           aliquid explicabo, voluptas reprehenderit deleniti
                           dolorem?
                        </p>
                        <a
                           data-fancybox
                           href="https://www.youtube.com/watch?v=T4CB5RPbtCk&ab_channel=TED"
                           class="top__slider-video-link"
                        >
                           <svg class="top__slider-svg">
                              <use
                                 xlink:href="images/sprite.svg#top-video-img"
                                 width="11"
                                 height="11"
                              ></use>
                           </svg>
                        </a>
                     </div>
                  </div>
                  <div class="top__slider-item">
                     <div class="top__slider-content">
                        <h6 class="top__slider-subtitle">Enjoy your day</h6>
                        <h1 class="top__slider-title">
                           Make your <span>work</span> more productive
                        </h1>
                        <p class="top__slider-text">
                           Lorem ipsum dolor sit amet consectetur adipisicing
                           elit. Pariatur sed facere similique dolore placeat
                           perferendis.
                        </p>
                        <a
                           data-fancybox
                           href="https://www.youtube.com/watch?v=T4CB5RPbtCk&ab_channel=TED"
                           class="top__slider-video-link"
                        >
                           <svg class="top__slider-svg">
                              <use
                                 xlink:href="images/sprite.svg#top-video-img"
                                 width="11"
                                 height="11"
                              ></use>
                           </svg>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="partners">
      <div class="container">
         <h2 class="visually-hidden">1</h2>
         <div class="partners__wrapper">
            <div class="partners__inner">
               <div class="partners__item">
                  <svg class="partners__svg">
                     <use
                        xlink:href="images/sprite.svg#bitbucket"
                        width="117"
                        height="29"
                     ></use>
                  </svg>
               </div>
               <div class="partners__item">
                  <svg class="partners__svg">
                     <use
                        xlink:href="images/sprite.svg#apple-watch"
                        width="117"
                        height="25"
                     ></use>
                  </svg>
               </div>
               <div class="partners__item">
                  <svg class="partners__svg">
                     <use
                        xlink:href="images/sprite.svg#facebook"
                        width="117"
                        height="23"
                     ></use>
                  </svg>
               </div>
               <div class="partners__item">
                  <svg class="partners__svg">
                     <use
                        xlink:href="images/sprite.svg#atlassian"
                        width="117"
                        height="25"
                     ></use>
                  </svg>
               </div>
               <div class="partners__item">
                  <svg class="partners__svg">
                     <use
                        xlink:href="images/sprite.svg#audi"
                        width="117"
                        height="29"
                     ></use>
                  </svg>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="plan">
      <div class="container">
         <div class="plan__wrapper">
            <div class="plan__content">
               <h6 class="plan__subtitle">DESKTOP AND MOBILE APP</h6>
               <h3 class="plan__title">
                  <span>Plan</span> and <span>manage</span>
               </h3>
               <p class="plan__text">
                  Brute laoreet efficiendi id his, ea illum nonumes luptatum
                  pro. Usu atqui laudem an, insolens gubergren similique est cu.
                  Et vel modus congue vituperata. Solum patrioque no sea. Mea ex
                  malis mollis oporteat. Eum an expetenda consequat.
               </p>
               <div class="plan__links">
                  <a
                     data-fancybox
                     href="https://www.youtube.com/watch?v=cPzNa1mhf70&ab_channel=MarianaVieira"
                     class="plan__link-video"
                     >View video
                     <svg class="plan__svg">
                        <use
                           xlink:href="images/sprite.svg#btn-video-img"
                           width="7"
                           height="8"
                        ></use>
                     </svg>
                  </a>
                  <a class="plan__link-features" href="#">See features</a>
               </div>
            </div>
            <div class="plan__img-box">
               <img
                  class="plan__img"
                  src="../images/plan-img.webp"
                  alt="image"
               />
            </div>
         </div>
      </div>
   </section>
   <section class="about-us">
      <div class="container">
         <div class="about-us__wrapper">
            <div class="about-us__inner">
               <h6 class="about-us__subtitle">ABOUT US</h6>
               <h3 class="about-us__title">Read about our app</h3>
               <div class="about-us_content">
                  <div class="about-us__items">
                     <div class="about-us__item">
                        <div class="about-us__img-box">
                           <img
                              class="about-us__img"
                              src="../images/about-us-1.webp"
                              alt="about us image"
                           />
                        </div>
                        <h6 class="about-us__item-title">Overview</h6>
                        <p class="about-us__text">
                           Brute laoreet efficiendi id his, ea illum nonumes
                           luptatum pro.
                        </p>
                     </div>
                     <div class="about-us__item">
                        <div class="about-us__img-box">
                           <img
                              class="about-us__img"
                              src="../images/about-us-2.webp"
                              alt="about us image"
                           />
                        </div>
                        <h6 class="about-us__item-title">Files</h6>
                        <p class="about-us__text">
                           No vim nulla vitae intellegat. Ei enim error ius,
                           solet atomorum conceptam ex has.
                        </p>
                     </div>
                     <div class="about-us__item">
                        <div class="about-us__img-box">
                           <img
                              class="about-us__img"
                              src="../images/about-us-3.webp"
                              alt="about us image"
                           />
                        </div>
                        <h6 class="about-us__item-title">Meeting chats</h6>
                        <p class="about-us__text">
                           Vim ne tacimates neglegentur. Erat diceret omittam at
                           est.
                        </p>
                     </div>
                     <div class="about-us__item">
                        <div class="about-us__img-box">
                           <img
                              class="about-us__img"
                              src="../images/about-us-4.webp"
                              alt="about us image"
                           />
                        </div>
                        <h6 class="about-us__item-title">Save events</h6>
                        <p class="about-us__text">
                           Nisl idque mel ea, nominati voluptatum.
                        </p>
                     </div>
                  </div>
                  <div class="about-us__links">
                     <a class="about-us__link-left" href="#">Read more</a>
                     <span class="about-us__span">OR</span>
                     <a class="about-us__link-right" href="#">Get started</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="numbers">
      <div class="container">
         <div class="numbers__wrapper">
            <div class="numbers__content-left">
               <div class="numbers__img-box">
                  <img
                     class="numbers__img"
                     src="../images/numbers-left-img.webp"
                     alt="numbers image"
                  />
               </div>
               <div class="numbers__number-left">89%</div>
               <p class="numbers__text">
                  Customers who have increased their productivity
               </p>
            </div>
            <div class="numbers__content-right">
               <div class="numbers__img-box">
                  <img
                     class="numbers__img"
                     src="../images/numbers-right-img.webp"
                     alt="numbers image "
                  />
               </div>
               <div class="numbers__number-right">3123</div>
               <p class="numbers__text">Users who have used our application</p>
            </div>
         </div>
      </div>
   </section>
   <section class="resources">
      <div class="container">
         <div class="resources__wrapper">
            <h6 class="resources__subtitle">OUR RESOURCES</h6>
            <h3 class="resources__title">Start reading our blog</h3>
            <div class="resources__inner">
               <div class="resources__slider">
                  <div class="resources__slider-item-wrapper">
                     <div class="resources__slider-item">
                        <div class="resources__slider-img-box">
                           <img
                              class="resources__slider-img"
                              src="../images/resources.avif"
                              alt="resources image"
                           />
                        </div>
                        <div class="resources__slider-content">
                           <h2 class="resources__slider-title">
                              How to start planning
                           </h2>
                           <p class="resources__slider-text">
                              Quidam vocibus eum ne, erat consectetuer
                              voluptatibus ut nam. Eu usu vidit tractatos, vero
                              tractatos ius an, in mel diceret persecuti. Natum
                              petentium principes mei ea. Tota everti periculis
                              vis ei, quas tibique pro at, eos ut decore ...
                           </p>
                           <div class="resources__slider-links">
                              <a href="#" class="resources__link-btn"
                                 >Read now</a
                              >
                              <a href="" class="resources__link"
                                 >Add to your bookmarks</a
                              >
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="resources__slider-item-wrapper">
                     <div class="resources__slider-item">
                        <div class="resources__slider-img-box">
                           <img
                              class="resources__slider-img"
                              src="../images/resources.avif"
                              alt="resources image"
                           />
                        </div>
                        <div class="resources__slider-content">
                           <h2 class="resources__slider-title">
                              How to planning
                           </h2>
                           <p class="resources__slider-text">
                              Lorem ipsum dolor sit amet. Quidam vocibus eum ne,
                              erat consectetuer voluptatibus ut nam. Eu usu
                              vidit tractatos, vero tractatos ius an, in mel
                              diceret persecuti. Natum petentium principes mei
                              ea. Tota everti periculis vis ei, quas tibique pro
                              at, eos ut decore ...
                           </p>
                           <div class="resources__slider-links">
                              <a href="#" class="resources__link-btn"
                                 >Read now</a
                              >
                              <a href="" class="resources__link"
                                 >Add to your bookmarks</a
                              >
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="resources__slider-item-wrapper">
                     <div class="resources__slider-item">
                        <div class="resources__slider-img-box">
                           <img
                              class="resources__slider-img"
                              src="../images/resources.avif"
                              alt="resources image"
                           />
                        </div>
                        <div class="resources__slider-content">
                           <h2 class="resources__slider-title">How to start</h2>
                           <p class="resources__slider-text">
                              Lorem ipsum dolor sit amet consectetur
                              adipisicing. Quidam vocibus eum ne, erat
                              consectetuer voluptatibus ut nam. Eu usu vidit
                              tractatos, vero tractatos ius an, in mel diceret
                              persecuti. Natum petentium principes mei ea. Tota
                              everti periculis vis ei, quas tibique pro at, eos
                              ut decore ...
                           </p>
                           <div class="resources__slider-links">
                              <a href="#" class="resources__link-btn"
                                 >Read now</a
                              >
                              <a href="" class="resources__link"
                                 >Add to your bookmarks</a
                              >
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="testimonials">
      <div class="container">
         <div class="testimonials__wrapper">
            <div class="testimonials__info">
               <h6 class="testimonials__subtitle">TESTIMONIALS</h6>
               <h3 class="testimonials__title">Customers's quotes</h3>
               <p class="testimonials__info-text">
                  Brute laoreet efficiendi id his, ea illum nonumes luptatum
                  pro. Usu atqui laudem an.
               </p>
            </div>
            <div class="testimonials__slider">
               <div class="testimonials__slider-inner">
                  <div class="testimonials__slider-item-inner">
                     <div class="testimonials__slider-item">
                        <p class="testimonials__slider-text">
                           Quidam vocibus eum ne, erat consectetuer voluptatibus
                           ut nam. Eu usu vidit tractatos, vero tractatos ius
                           an, in mel diceret persecuti.
                        </p>
                        <div class="testimonials__slider-img-box">
                           <img
                              src="../images/testimonials-slider-img.webp"
                              alt="testimonials user image"
                              class="testimonials__slider-img"
                           />
                        </div>
                     </div>
                  </div>
                  <div class="testimonials__slider-item-inner">
                     <div class="testimonials__slider-item">
                        <p class="testimonials__slider-text">
                           Lorem ipsum dolor sit amet consectetur adipisicing
                           elit. Vitae, aliquam quaerat, voluptate veniam ullam
                           iure corrupti maiores quisquam eveniet aspernatur
                           similique
                        </p>
                        <div class="testimonials__slider-img-box">
                           <img
                              src="../images/testimonials-slider-img.webp"
                              alt="testimonials user image"
                              class="testimonials__slider-img"
                           />
                        </div>
                     </div>
                  </div>
                  <div class="testimonials__slider-item-inner">
                     <div class="testimonials__slider-item">
                        <p class="testimonials__slider-text">
                           7 Lorem ipsum dolor sit amet consectetur adipisicing
                           elit. Vitae, aliquam quaerat.
                        </p>
                        <div class="testimonials__slider-img-box">
                           <img
                              src="../images/testimonials-slider-img.webp"
                              alt="testimonials user image"
                              class="testimonials__slider-img"
                           />
                        </div>
                     </div>
                  </div>
                  <div class="testimonials__slider-item-inner">
                     <div class="testimonials__slider-item">
                        <p class="testimonials__slider-text">
                           7 Lorem ipsum dolor sit amet consectetur adipisicing
                           elit. Vitae, aliquam quaerat.
                        </p>
                        <div class="testimonials__slider-img-box">
                           <img
                              src="../images/testimonials-slider-img.webp"
                              alt="testimonials user image"
                              class="testimonials__slider-img"
                           />
                        </div>
                     </div>
                  </div>
                  <div class="testimonials__slider-item-inner">
                     <div class="testimonials__slider-item">
                        <p class="testimonials__slider-text">
                           7 Lorem ipsum dolor sit amet consectetur adipisicing
                           elit. Vitae, aliquam quaerat.
                        </p>
                        <div class="testimonials__slider-img-box">
                           <img
                              src="../images/testimonials-slider-img.webp"
                              alt="testimonials user image"
                              class="testimonials__slider-img"
                           />
                        </div>
                     </div>
                  </div>
                  <div class="testimonials__slider-item-inner">
                     <div class="testimonials__slider-item">
                        <p class="testimonials__slider-text">
                           Quidam vocibus eum ne, erat consectetuer voluptatibus
                           ut nam. Eu usu vidit tractatos, vero tractatos ius
                           an, in mel diceret persecuti.
                        </p>
                        <div class="testimonials__slider-img-box">
                           <img
                              src="../images/testimonials-slider-img.webp"
                              alt="testimonials user image"
                              class="testimonials__slider-img"
                           />
                        </div>
                     </div>
                  </div>
                  <div class="testimonials__slider-item-inner">
                     <div class="testimonials__slider-item">
                        <p class="testimonials__slider-text">
                           Lorem ipsum dolor sit amet consectetur adipisicing
                           elit. Vitae, aliquam quaerat, voluptate veniam ullam
                           iure corrupti maiores quisquam eveniet aspernatur
                           similique
                        </p>
                        <div class="testimonials__slider-img-box">
                           <img
                              src="../images/testimonials-slider-img.webp"
                              alt="testimonials user image"
                              class="testimonials__slider-img"
                           />
                        </div>
                     </div>
                  </div>
                  <div class="testimonials__slider-item-inner">
                     <div class="testimonials__slider-item">
                        <p class="testimonials__slider-text">
                           7 Lorem ipsum dolor sit amet consectetur adipisicing
                           elit. Vitae, aliquam quaerat.
                        </p>
                        <div class="testimonials__slider-img-box">
                           <img
                              src="../images/testimonials-slider-img.webp"
                              alt="testimonials user image"
                              class="testimonials__slider-img"
                           />
                        </div>
                     </div>
                  </div>
                  <div class="testimonials__slider-item-inner">
                     <div class="testimonials__slider-item">
                        <p class="testimonials__slider-text">
                           7 Lorem ipsum dolor sit amet consectetur adipisicing
                           elit. Vitae, aliquam quaerat.
                        </p>
                        <div class="testimonials__slider-img-box">
                           <img
                              src="../images/testimonials-slider-img.webp"
                              alt="testimonials user image"
                              class="testimonials__slider-img"
                           />
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="faq">
      <div class="container">
         <div class="faq__wrapper">
            <h6 class="faq__subtitle">Customer helps</h6>
            <h3 class="faq__title">Frequently asked questions</h3>
            <div class="faq__items">
               <div class="faq__item">
                  <h5 class="faq__item-title">Reque insolens in vel?</h5>
                  <div class="faq__content-inner">
                     <div class="faq__content">
                        <p class="faq__text">
                           Quidam vocibus eum ne, erat consectetuer voluptatibus
                           ut nam. Eu usu vidit tractatos, vero tractatos ius
                           an, in mel diceret persecuti.
                        </p>
                        <a class="faq__link" href="#">Go to documentation</a>
                     </div>
                  </div>
               </div>
               <div class="faq__item">
                  <h5 class="faq__item-title">
                     Vis rebum error graecis ea, id sit postea accusamus?
                  </h5>
                  <div class="faq__content-inner">
                     <div class="faq__content">
                        <p class="faq__text">
                           Quidam vocibus eum ne, erat consectetuer voluptatibus
                           ut nam. Eu usu vidit tractatos, vero tractatos ius
                           an, in mel diceret persecuti.
                        </p>
                        <a class="faq__link" href="#">Go to documentation</a>
                     </div>
                  </div>
               </div>
               <div class="faq__item">
                  <h5 class="faq__item-title">Lorem repudiandae ne nec?</h5>
                  <div class="faq__content-inner">
                     <div class="faq__content">
                        <p class="faq__text">
                           Quidam vocibus eum ne, erat consectetuer voluptatibus
                           ut nam. Eu usu vidit tractatos, vero tractatos ius
                           an, in mel diceret persecuti.
                        </p>
                        <a class="faq__link" href="#">Go to documentation</a>
                     </div>
                  </div>
               </div>
               <div class="faq__item">
                  <h5 class="faq__item-title">
                     Ad dicit numquam vel. Et eos iudico feugait percipitur?
                  </h5>
                  <div class="faq__content-inner">
                     <div class="faq__content">
                        <p class="faq__text">
                           Quidam vocibus eum ne, erat consectetuer voluptatibus
                           ut nam. Eu usu vidit tractatos, vero tractatos ius
                           an, in mel diceret persecuti.
                        </p>
                        <a class="faq__link" href="#">Go to documentation</a>
                     </div>
                  </div>
               </div>
               <div class="faq__item">
                  <h5 class="faq__item-title">
                     Sea no dico percipitur. Fierent constituam definitiones id
                     eum?
                  </h5>
                  <div class="faq__content-inner">
                     <div class="faq__content">
                        <p class="faq__text">
                           Quidam vocibus eum ne, erat consectetuer voluptatibus
                           ut nam. Eu usu vidit tractatos, vero tractatos ius
                           an, in mel diceret persecuti.
                        </p>
                        <a class="faq__link" href="#">Go to documentation</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- 
   <section class="plan">
      <div class="container">
         <div class="plan__wrapper">
            <h6 class="plan__subtitle"></h6>
            <h3 class="plan__title"></h3>
            <p class="text"></p>
            <div class="plan__links">
               <a class="plan__link-left" href="#"></a>
               <a class="plan__link-right" href="#"></a>
            </div>
         </div>
      </div>
   </section>
   <section class="sugn-up">
      <div class="container">
         <div class="sugn-up__wrapper">
            <div class="sugn-up__info">
               <h5 class="sugn-up__title"></h5>
               <p class="sugn-up__text"></p>
            </div>
            <div class="sugn-up__form-box">
               <form class="sugn-up__form" action="#">
                  <label for="" class="sugn-up__label">
                     <input
                        class="sugn-up__input"
                        type="email"
                        placeholder="Email address"
                     />
                     <button class="sugn-up__btn" type="submit">Submit</button>
                  </label>
               </form>
            </div>
         </div>
      </div>
   </section>
    -->
</main>
